@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body>
    <div>
        <h2>Pagga's Soaps</h2>
        <p id="para1">
            <strong>
                "Be fresh be active"is our main target of brand.<br />PAGGA is spreading worldwide because
                of the quality and natural products.<br />we always know the needs and priority of the customers.<br />

                We promote the natual basis products.<br />Fresh from outside means fresh from out side.<br />we have about 50+ locations
                over the Canada.<br />We offer the deals to the customers always.
            </strong>
        </p>
        <img id="soap1" src="../images/soap1.jpg" ,height="300px",width="400px" />


        <p id="para2">
            Our Locations:
            <ul>
                <li>Windsor</li>
                <li>Brampton</li>
                <li>Surry</li>
                <li>London</li>
                <li>Berry</li>
            </ul>
        </p>



    </div>
    <style>

        body {
            
            background-color: #535859;
            color: whitesmoke;
            font-family: 'Lucida Sans';
            margin: 0 auto;
            

            text-align: center;
        }
        li {
            list-style: none;
            color: #3d6fdb;
        }

        h2 {
            color: whitesmoke;
            font-size: 50px;
        }
        
    </style><br/>
    <br/>
</body>