@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{<body>
    <div id="body">
        <h2>Pagga's Soaps</h2>
     <p id="para1" >
         <strong>"Be fresh be active"</strong>is our main target of brand.PAGGA is spreading worldwide because 
         of the quality and natural products.we always know the needs and priority of the customers.<br/>

         We promote the natual basis products.Fresh from outside means fresh from out side.we have about 50+ locations
         over the Canada.We offer the deals to the customers always.</p>
         <img id="soap1" src="../images/soap1.jpg" />
        
        
     <p id="para2">
         Our Locations:
         <ul>
             <li>Windsor</li>
             <li>Brampton</li>
             <li>Surry</li>
             <li>London</li>
             <li>Berry</li>



         </ul>




     </p>



    </div>
    <style>
        
        body {
            
            background-color: #535859;
            color:whitesmoke;
            font-family:'Lucida Sans';
           
        }
        h2 {
            color:burlywood;
        }

        


    </style>




    </body>
}
