@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
<style>
    body {
        background-color: #f5dfa2;
    }
    h1 {
        color: #eb5234;
    }
    p {
        color: #eb5234;
    }
</style>
