@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pagga Soaps</h1>
    <p id="para">"Be fresh be active"</p>
    <img src="../images/Soap4.jpg"/>
    <p> Go to my<a href="https://localhost:44394/Soaps"> Collections</a>.</p>

</div>
<style>
    body {
        background-color: #f5dfa2;
    }
    h1 {
        color: #eb5234;
    }
    p {
        color: #eb5234;
        font-size:25px;
    }
    #para {
        font-family:sans-serif;
        
    }
</style>
